<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {{dash}} </title>
    </head>
    <body>
        <div class="container">
            <div class="row  ">
                <div class="col-lg-12 col-md-12 col-12 sectionMainDash">
                    <div class="sectionDash p-4">
                        <p style="color: #fff;">Welcome to Dashboard, </p>
                        <p style="color: #fff;"> {{user}} </p>
                        <a href="/logout" style="color: #fff;">logout</a>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>